.card{
    margin-bottom: 15px;
}


.card-footer{
    padding: 0;
}

.sticky-top
{
    top:80px;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}